.container {
    position: relative;
    text-align: center;

}
h1 {
    font-family: 'Pacifico', cursive;
    font-size: 30pt;
    position: absolute;
    top: 5%;
    left: 40%;
    text-align: center;
}

body {
    background-color:#2D3047;
  }
  
